# Dependency directories
node_modules
package-lock.json
yarn.lock

# Optional npm cache directory
.npm

# Optional REPL history
.next
out
deployment/build

# Env
.env*
next-env.d.ts

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode

articles

.DS_Store
