@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer base {
  a {
    @apply text-blue-600;
  }
}


@utility prose {
  code {
    font-size: 1em;
    font-weight: 400;

    &::before,
    &::after {
      display: none;
    }
  }

  pre {
    background-color: transparent;
    padding: 0;
    margin: 0;
    overflow-x: unset;
    font-size: 1em;
    color: inherit;
  }
}

article > section > div > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

article > section > div > p {
    /* margin-top: 1.5rem; */
    margin-bottom: 1.5rem;
}

.xterm {
    padding: 4px 16px 16px 11px;
}

hr.open {
    margin-top: 3rem;
    margin-bottom: 1.25rem;
}

hr.close {
    margin-top: 0;
    margin-bottom: 3rem;
}
