.container {
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: justify;
}

.container h1 {
    padding: 20px 0 20px 0;
    font-size: 32px;
}

.container p {
    text-indent: 8px;
    margin: 24px 0 8px 0;
}

.container img {
    width: 80%;
    display: block;
    margin: auto auto 12px auto;
}

.container figure {
    margin-left: 0;
    margin-right: 0;
}

.container figcaption {
    opacity: 0.5;
    font-size: 14px;
    text-align: center;
}

.container li {
    margin-top: 8px;
    margin-left: 24px;
}

.container ul {
    padding-left: 4px;
}

.name {
    font-size: 36px;
}

.back {
    display: inline-block;
    margin: 20px 0 20px 0;
}

.bold {
    font-weight: bold;
}

.code {
    font-family: monospace;
    background-color: rgb(242, 242, 242);
    padding: 2px 4px;
    border-radius: 2px;
}

.italic {
    font-style: italic;
}

.highlighter {
    margin: 24px 0 24px 0;
    line-height: 2;
    border-radius: 12px;
    overflow: auto;
}

.file {
    padding: 2px 4px;
    text-decoration: none;
}

.file a {
    color: inherit;
}

.file:hover {
    background: rgba(55, 53, 47, 0.08);
    cursor: pointer;
    border-radius: 2px;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.bookmark {
    display: block;
    margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
    .code {
        background-color: rgb(15, 8, 28);
    }
    .file:hover {
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        border-radius: 2px;
    }
    .pre {
        background-color: rgb(15, 8, 28);
    }
}
